.page-container {
  width: min(100% - 48px, 1240px);
  margin-inline: auto;
}

.section {
  position: relative;
  padding-block: 100px;
}

@media (max-width: 768px) {
  .page-container {
    width: min(100% - 32px, 1240px);
  }

  .section {
    padding-block: 70px;
  }
}

/* may me you have to remove this and this is the new code for the tomorrow section image */
