@import "tailwindcss";

@font-face {
  font-family: "Gerbil";
  src: url("./assets/fonts/Gerbil.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gerbil: "Gerbil", Arial, sans-serif;
  --color-ink: #080808;
  --color-mint: #d7eedd;
  --color-quote: #f3faf5;
  --color-pink: #ffc2ea;
}
